/* Mobile devices with small screen (up to 640px) */
@media only screen and (min-width: 640px) and (max-width: 800px) {
	.igazitas {
		display: table;
		margin: 0 auto;
		width: auto;
		min-width: 700px;
		padding: 3px;
		text-align: center;
	}

	/* -- Elválasztó vonal -- */
	hr {
		width: auto;
		min-width: 640px;
		height: 3px;
		border: 0;
	  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(120, 120, 120, 0.75), rgba(0, 0, 0, 0));
	}

	/* Főoldal - fejléc */
	.fejlec {
		width: 93%;
		height: auto;
		border-radius: 8px 24px 16px;
	}

	.fejlecszovegfent {
		letter-spacing: 5px;
		word-spacing: 10px;
		font-size: 150%;
		font-family: fejlecfont;
	}

	.fejlecszoveglent {
		font-size: 100%;
		font-family: fejlecfont;
	}

	/* Főoldal - slide GIF */
	.slide {
		border-radius: 15px 40px 25px;
		max-width: 100%;
    min-width: 640px;
    height: auto;
	}

	/* Menü gombsor */
	.button {
	  display: inline-block;
		width: 135px;
	  border-radius: 4px 12px 8px;
		box-shadow: 7px 10px 18px rgb(0,128,255);
	  padding: 10px; /* gomb magasság */
		margin: 8px; /* gombok közti hézag */
	  transition: all 0.5s;
	  cursor: pointer;
		font-size: 18px;
		font-family: fejlecfont;
	}

	.button span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
	}

	.button span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
	}

	.button:hover span {
	  padding-right: 25px;
	}

	.button:hover span:after {
	  opacity: 1;
	  right: 0;
	}

	/* Főoldal - bemutatkozó szöveg */
	.bemutato {
		border-radius: 8px 24px 16px;
		font-size: 100%;
		font-family: szovegfont;
		vertical-align: middle;
		padding-left: 5px;
		padding-right: 5px;
	}

	/* Főoldal - raktárképek */
	.raktarkepek {
		width: 110px;
		padding-left: 2px;
		padding-right: 2px,
	}

	.elsokep {
		padding-left: 0px;
	}

	/* Alkatrészek oldal megjelenés, táblázatok */
	.uptable {
		border-radius: 8px 24px 0px 0px;
		text-align: left;
	  padding-left: 5px;
	  padding-top: 5px;
		font-size: 14px;
		font-family: szovegfont;
	}

	.downtable {
		border-radius: 0px 0px 16px 24px;
		text-align: left;
	  padding-left: 5px;
		font-size: 14px;
		font-family: szovegfont;
	}

	/* AKCIO oldal megjelenés, beágyazott GoogleDoc */
	iframe {
	  width: auto;
		min-width: 640px;
	  height: 330px;
	}

	iframe[seamless] {
	  border: none;
	}

	/* Kapcsolat oldal megjelenés, szöveg */
	.kontaktszoveg {
		border-radius: 8px 24px 16px;
		font-size: 120%;
		font-family: szovegfont;
		vertical-align: middle;
		line-height: 150%;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	/* 404 error */
	.error {
		height: 330px;
		border-radius: 8px 24px 16px;
		padding: 0;
		font-size: 100%;
		font-family: szovegfont;
		vertical-align: middle;
		padding-left: 5px;
		padding-right: 5px;
	}

	/* Alulra cím formázás */
	.cim {
		width: 100%;
		font-size: 13px;
		font-family: fejlecfont;
		vertical-align: middle;
	}
}
