@font-face {
	font-family: BreeSerif;
	src: url('assets/BreeSerif-Regular.ttf');
}

@font-face {
	font-family: RussoOne;
	src: url('assets/RussoOne-Regular.ttf');
}

h3, p, #techWiki {
	font-family: 'Courier New', Courier, monospace;
}

body {
	background-image: url("assets/perforated_white_leather.png");
	margin: 0;
	font-size: 16px;
}

img {
	height: 80%;
	float: left;
	padding-top: 0.4%;
}

ul {
	list-style-type: none; /*no bullet before the items*/
	margin: 0;
	padding: 0;
	float: right; /*align li items right to the navbar*/
}

li {
	float: left; /*align li items horizontally*/
}

li a {
	font-family: BreeSerif;
	font-size: 1.3rem;
	color: #ff0099;
	display: block;
	padding-left: 1.5rem; /*horiz. space between links*/
	text-decoration: none; /*do not mark links underlined*/
	text-transform: uppercase;
}

/*nav links stays inside navbar on small screens and adjust logo vertically*/
@media only screen and (max-width: 600px) {
    li a {
		font-size: 0.9rem;
        padding-left: 0.4rem;
    }

	img {
		padding-top: 0.9%
	}
}

li a:hover {
   color: green;
   text-decoration: underline;
}

header {
	background-color: #333333;
	height: 50px;
	line-height: 50px;
}

footer {
	font-family: 'Orbitron', sans-serif;
	text-align: right;
	font-weight: bold;
}

h1 {
	font-family: RussoOne;
    color: black;
    font-size: 2.8rem;
	font-weight: 100;
	margin-bottom: 0;
}

h2 {
	font-family: BreeSerif;
	color: #ff0099;
	font-size: 2.2rem;
	font-weight: 300;
	margin-top: 1.4rem;
	margin-bottom: 0;
}

h3 {
	color: #ff0099;
	font-size: 1.9rem;
	margin-bottom: 0;
}

p {
	font-size: 1.12rem;
}

p.verticalSpace {
	margin-bottom: 3rem
}

p.verticalSpaceBig {
	margin-bottom: 5rem;
}

p.definition {
	margin-top: 0.6rem;
}

.setSideMargin {
	margin-left: 10%;
	margin-right: 10%;
}

#separator {
	text-align: center; 
	font-weight: 900;
}

#techWiki {
	color: black;
	text-align: center; 
	font-size: 2.4rem; 
	font-weight: 900;
}
